
html, body {
  overflow: visible !important;
  background-color: #fcfcfa;
  padding-bottom: 20px;
}

/* SeatingPlanner.jsx */
@media only screen and (max-width: 600px) {
  .table{
    margin-bottom: 30px;
  }
}

.fade-out {
  animation: fadeOut 0.4s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hovered {
  background-color: #f0fff0 !important;
}

